body {
    overflow-x: hidden;
    height: 100%;

}
input,textarea {
    border-radius: 50px !important;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}
.card {
    border: none;
    background: #d4a9db;
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}
#logo {
    width: 100px;
    height: 90px
}
.heading {
    margin-bottom: 60px !important
}
.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
    font-weight: 1000;
}
.btn-common
{
  transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  background-color: #BA68C8;
  color: #fff;
  text-align: center;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 5px;
}
.btn-common:hover
{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  transform: translateY(-3px);
  color: plum;
  color:#3c4142 ;
}

/* --------Responsive-------- */
@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }
    .card2 {
        padding: 50px
    }
    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}