body{
    background: #F4F7FD;
    margin-top:20px;
}
.card-margin {
    margin-bottom: 1.875rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-height: 30rem !important;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: 5px 5px 5px 0px rgba(82, 63, 105, 0.3);
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card .card-header.no-border {
    border: 0;
    text-align: center;
}
.card .card-header {
    background: none;
    padding: 2 0.9375rem;
    font-weight: 500;
    align-items: center;
    min-height: 50px;    
}
.card-title
{
  text-align: center !important;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}
/* ----------Content inside card-------------- */
.widget .widget-title-wrapper {
  display: flex;
  align-items: center;
}
.widget .widget-title-wrapper .widget-date-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.widget .widget-title-wrapper .widget-date-primary .widget-date-day {
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}
.widget .widget-title-wrapper .widget-date-primary .widget-date-month {
  color: #4e73e5;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget .widget-title-wrapper .widget-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.widget .widget-title-wrapper .widget-meeting-info .widget-pro-title {
  color: #3c4142;
  font-size: 14px;
}
.widget .widget-title-wrapper .widget-meeting-info .widget-meeting-time {
  color: #B1BAC5;
  font-size: 13px;
}

.btn-common
{
  transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  background-color: #BA68C8;
  color: #fff;
  margin: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.btn-common:hover
{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  transform: translateY(-3px);
  color: plum;
  color:#3c4142 ;
}
.btn-primary
{
  width: 80%;
}
.btn-primary:hover
{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  transform: translateY(-3px);
  color: plum;
  background: #BA68C8;
  color:#3c4142 ;
}
