{% extends 'base.html' %}
{% load static %}
{% block title %}Create Slot{% endblock %}
{% block css %}
<link href="{% static 'css/create_slot.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<!----------Form----------->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h4 class="card-title text-center mb-5 fw-light fs-5">Create Slots for GD</h4>
                    {% if class_slot %}
                    <form action="" method="POST">
                        {% else %}
                        <form action="{% url 'createGroupDiscussion' %}" method="POST">
                            {% endif %}

                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <label for="floatingInput1">Topic</label>
                                <input type="text" name="topic" class="form-control"
                                    id="floatingInput1" placeholder="Topic Of GD" required>

                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingInput2">Number Of Groups</label>
                                <small class="form-text text-muted">Each group contains 4 students.</small>
                                <input type="number" name="number_of_groups" class="form-control"
                                    id="floatingInput2" placeholder="Number Of Groups" required>
                            </div> 
                            <label for="floatingInput3">Date</label>
                            <div class="form-floating mb-3">
                                <input type="text"name="date" class="form-control"
                                    id="floatingInput3" placeholder="MM-DD-YYYY"
                                    onfocus="(this.type='date')" required>

                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingInput4">Start Time</label>
                                <input type="time"name="start_time" class="form-control"
                                    id="floatingInput4" placeholder="HH:MM" onfocus="(this.type='time')" required>

                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingInput5">End Time</label>
                                <input type="text"name="end_time" class="form-control"
                                    id="floatingInput5" placeholder="HH:MM" onfocus="(this.type='time')" required>

                            </div>

                            <br>
                            <div class="d-grid">
                                <button class="btn btn-common btn-login text-uppercase fw-bold" type="submit">Create
                                    Slot</button>
                            </div>
                            <hr class="my-4">

                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------Form----------->

{% endblock %}