{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css %} <link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
  
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a webapp</h3>
                    <img class="img-fluid" src="{% static 'img/login.png' %}">
                </div>
            </div>

            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 mt-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo"
                                src="{% static 'img/logo.png' %}"> </div>
                        <h3 class="mb-5 text-center heading">गुरुSkool</h3>
                        <h6 class="msg-info">Please login to your account</h6>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group"> <label class="form-control-label">Email</label> 
                                <input type="email" id="email" name="username" placeholder="" class="form-control" required/> </div>
                            <div class="form-group"> <label class="form-control-label ">Password</label> 
                                <input type="password" id="psw" name="password" placeholder="" class="form-control" required/> </div>
                            <div class="row justify-content-center my-3 px-3"> <button class="btn-common">Login</button> </div>
    
                        </form>
                        
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">New user? <a href="{% url 'register' %}">Register</a></p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}