{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %} <link href="{% static 'css/register.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<br><br>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <!-------- Student Register Form------->
            <h3>Register as Student</h3>
            <form action="{% url 'studentRegister' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control" placeholder="First Name" value="" required />
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="" required />
                </div>
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Email" value="" required />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" value="" required />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit btn-common"  value="Register" />
                </div>
                <p>Already have an account? <a href="{% url 'login' %}" class="text-black">Sign in</a></p>
            </form>
        </div>
        <!-------- Faculty Register Form------->
        <div class="col-md-6 login-form-2">
            <h3>Register as Faculty</h3>
            <form action="{% url 'teacherRegister' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control" placeholder="First Name" value="" required />
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="" required />
                </div>
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Email" required />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                </div>
                <div class="form-group">
                    <input type="submit"  class="btnSubmit btn-common" value="Register" />
                </div>
                <p>Already have an account? <a class="text-white" href="{% url 'login' %}">Sign in</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}